<launch>

  <arg name="INPUT_IMAGE" />
  <arg name="INPUT_CLOUD" />
  <arg name="FIXED_FRAME" />
  <arg name="MANAGER" />

  <rosparam command="load" file="$(find hrp2_apc)/config/label_names.yaml" />

  <node name="fcn_object_segmentation"
        pkg="jsk_perception" type="fcn_object_segmentation.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />  <!-- rgb timestamp --> 
    <rosparam subst_value="true">
      gpu: 0
      model_name: fcn32s
      model_h5: $(find jsk_apc2016_common)/trained_data/fcn32s_6000.chainermodel
    </rosparam>
    <remap from="~target_names" to="label_names" />
  </node>

  <!-- label -> mask -> indices -> cloud -> resized cloud  -> cluster indices -->
  <node name="label_to_mask"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/LabelToMaskImage $(arg MANAGER)">
    <remap from="~input" to="fcn_object_segmentation/output" />  <!-- rgb timestamp -->
  </node>
  <node name="mask_to_point_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/MaskImageToPointIndices $(arg MANAGER)">
    <remap from="~input" to="label_to_mask/output" />  <!-- rgb timestamp -->
  </node>
  <node name="extract_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />  <!-- depth timestamp -->
    <remap from="~indices" to="mask_to_point_indices/output" />  <!-- rgb timestamp -->
    <rosparam>
      approximate_sync: true
      queue_size: 100
      keep_organized: true
    </rosparam>
  </node>
  <node name="resize_points_publisher"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ResizePointsPublisher $(arg MANAGER)">
    <remap from="~input" to="extract_indices/output" />  <!-- depth timestamp -->
    <rosparam>
      step_x: 2
      step_y: 2
    </rosparam>
  </node>
  <node name="euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/EuclideanClustering $(arg MANAGER)">
    <remap from="~input" to="resize_points_publisher/output" />  <!-- depth timestamp -->
    <rosparam>
      min_size: 10
      max_size: 10000
      tolerance: 0.05
    </rosparam>
  </node>
  <node name="cluster_indices_decomposer_target"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="resize_points_publisher/output" />  <!-- depth timestamp -->
    <remap from="~target" to="euclidean_clustering/output" />  <!-- depth timestamp -->
    <rosparam subst_value="true">
      approximate_sync: false
      queue_size: 1000
      align_boxes: true
      align_boxes_with_plane: false
      target_frame_id: $(arg FIXED_FRAME)
    </rosparam>
  </node>

  <!-- Visualization -->
  <node name="label_names_overlay"
        pkg="hrp2_apc" type="label_names_overlay.py"
        respawn="true">
    <remap from="~label_names" to="label_names" />
    <remap from="~target_label_value" to="label_to_mask/label_value" />
  </node>
  <node name="colorize_labels"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ColorizeLabels $(arg MANAGER)">
    <remap from="~input" to="fcn_object_segmentation/output" />  <!-- rgb timestamp -->
  </node>
  <node name="label_image_decomposer"
        pkg="jsk_perception" type="label_image_decomposer.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />  <!-- rgb timestamp -->
    <remap from="~input/label" to="fcn_object_segmentation/output" />  <!-- rgb timestamp -->
    <rosparam>
      approximate_sync: false
      queue_size: 100
    </rosparam>
    <remap from="~label_names" to="label_names" />
  </node>

</launch>
