<launch>

  <param name="/use_sim_time" value="true" />

  <include file="$(find jsk_data)/launch/hrp2_play.launch">
    <arg name="bagfile_names" value="$(find hrp2_apc)/raw_data/2016-07-19-16-46-05-hrp2_rosbag_apc_look_around.bag" />
    <arg name="launch_openni" value="true" />
    <arg name="launch_multisense" value="false" />
  </include>

  <node name="octomap_server_node"
        pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" to="/camera_remote/depth_registered/points" />
    <rosparam>
      frame_id: ground
      base_frame_id: odom
    </rosparam>
  </node>

  <node name="fcn_object_segmentation"
        pkg="jsk_perception" type="fcn_object_segmentation.py">
    <remap from="~input" to="/camera_remote/rgb/image_rect_color" />
    <rosparam subst_value="true">
      gpu: 0
      model_name: fcn32s
      model_h5: $(find jsk_apc2016_common)/trained_data/fcn32s_6000.chainermodel
      target_names:
        - background
        - barkely_hide_bones
        - cherokee_easy_tee_shirt
        - clorox_utility_brush
        - cloud_b_plush_bear
        - command_hooks
        - cool_shot_glue_sticks
        - crayola_24_ct
        - creativity_chenille_stems
        - dasani_water_bottle
        - dove_beauty_bar
        - dr_browns_bottle_brush
        - easter_turtle_sippy_cup
        - elmers_washable_no_run_school_glue
        - expo_dry_erase_board_eraser
        - fiskars_scissors_red
        - fitness_gear_3lb_dumbbell
        - folgers_classic_roast_coffee
        - hanes_tube_socks
        - i_am_a_bunny_book
        - jane_eyre_dvd
        - kleenex_paper_towels
        - kleenex_tissue_box
        - kyjen_squeakin_eggs_plush_puppies
        - laugh_out_loud_joke_book
        - oral_b_toothbrush_green
        - oral_b_toothbrush_red
        - peva_shower_curtain_liner
        - platinum_pets_dog_bowl
        - rawlings_baseball
        - rolodex_jumbo_pencil_cup
        - safety_first_outlet_plugs
        - scotch_bubble_mailer
        - scotch_duct_tape
        - soft_white_lightbulb
        - staples_index_cards
        - ticonderoga_12_pencils
        - up_glucose_bottle
        - womens_knit_gloves
        - woods_extension_cord
    </rosparam>
  </node>

  <!-- Visualization -->
  <node name="colorize_labels"
        pkg="jsk_perception" type="colorize_labels">
    <remap from="~input" to="fcn_object_segmentation/output" />
  </node>
  <node name="label_image_decomposer"
        pkg="jsk_perception" type="label_image_decomposer.py">
    <remap from="~input" to="/camera_remote/rgb/image_rect_color" />
    <remap from="~input/label" to="fcn_object_segmentation/output" />
    <rosparam>
      queue_size: 100
    </rosparam>
    <remap from="~label_names" to="fcn_object_segmentation/target_names" />
  </node>

  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find hrp2_apc)/rvizconfig/hrp2_rosbag_apc_look_around.rviz">
  </node>

</launch>
