<launch>

  <!-- setup kiva_pod -->

  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kiva_pod_state.launch" />
  <node name="interactive_adjust_kiva_pod"
        pkg="jsk_interactive_marker" type="marker_6dof">
    <rosparam command="load" file="$(find hrp2_apc)/config/kiva_pod_interactive_marker.yaml" />
  </node>

  <!-- FCN segmentation -->

  <group ns="fcn">
    <include file="$(find hrp2_apc)/launch/fcn_object_segmentation.launch">
      <arg name="INPUT_IMAGE" value="/camera_remote/rgb/image_rect_color" />
      <arg name="INPUT_CLOUD" value="/camera_remote/depth_registered/points" />
      <arg name="FIXED_FRAME" value="BODY" />
      <arg name="INITIAL_TARGET_ID" value="2" />
    </include>
  </group>

</launch>
